# Ignore everything by default
*

!.gitignore
!README.md
!LICENSE
!license_header.txt
!.github
!.github/**

# Don't ignore specific gradle files and folders
!gradle
!gradle/**
!*.gradle.kts
!gradle.properties
!gradlew*

# Don't ignore the modules and its contents
!ap
!ap/src
!ap/src/**
!core
!core/src
!core/src/**
!database
!database/core
!database/core/src
!database/core/src/**
!database/mongo
!database/mongo/src
!database/mongo/src/**
!database/sql
!database/sql/src
!database/sql/src/**

# Ignore the test databases, which uh, should ideally be deleted after tests
core/database*